[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
m2r2 = "*"
sphinxcontrib-soliditydomain = "*"
Sphinx = "==2.4.4"
sphinx-rtd-theme = "*"
sphinx-sitemap = "*"

[dev-packages]

[requires]
